@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.5;
  font-family: Alatsi, sans-serif;
  background-color: #035efc;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

body {
  margin: 0;
  color: #fdf1e5;
}

.card-image {
  background-color: #035efc;
}

.logo {
  max-width: 14rem;
  z-index: 1;
  display: flex;
  margin: 2rem;
}

.blurb {
  padding-top: 2rem;
}

dl {
  padding-bottom: 2rem;
}

.columns-main {
  padding: 1rem;
  margin-left: 3rem;
  display: contents;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
}

.cards {
  padding: 1rem;
}

.title {
  padding-left: 2rem;
  font-size: 3rem;
}

.current {
  border-style: solid;
  padding: .5rem;
  text-align: center;
}

.current-footer {
  font-size: 1.5rem;
}

.navigation {
  background-color: #0c48c9;
}

a:link {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

header {
  display: contents;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 1rem;
}

a:hover {
  color: #fc035a;
}

.btn {
  background-color: #fdf1e5;
  color: #035efc;
  border-color: #fdf1e5;
  border-radius: 30px;
  padding: .75rem;
  text-decoration: none;
}

.gamingtitle {
  text-align: center;
  font-size: 2.5rem;
}

.gametitles {
  font-size: 1.5rem;
}

.nav {
  grid-column: 3;
  grid-row: 1;
  display: grid;
  padding: 1rem;
}

ul {
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  padding-left: .5em;
  padding-right: .5em;
  margin: 0;
  margin-bottom: 1em;
  display: grid;
  grid-template-areas: "1 2 3";
}

ul:nth-child(1) {
  grid-area: 1;
}

ul:nth-child(2) {
  grid-area: 2;
}

ul:nth-child(3) {
  grid-area: 3;
}

.banner {
  margin-bottom: 1.5em;
}

li {
  color: #fdf1e5;
  font-size: 1rem;
}

a {
  color: #fdf1e5;
}

.topdescrip {
  text-align: center;
  padding-bottom: 5rem;
}

.p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

p {
  font-family: Alatsi, sans-serif;
  padding-bottom: 1rem;
}

.viewing {
  margin-top: 1.5em;
}

dd {
  margin: .5rem;
  font-family: Alatsi, sans-serif;
  font-size: 1rem;
}

dt {
  font-size: 1.5rem;
  font-family: Alatsi, sans-serif;
}

footer {
  border-top: #e2e2e2 .2rem solid;
  text-align: center;
}

.footer {
  margin: .8em;
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .columns {
    padding: 1rem;
    display: contents;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }

  .card {
    grid-column: 1;
    display: grid;
    grid-row: 1;
  }

  .h1 {
    text-align: left;
  }

  .pages {
    padding: 0;
    text-decoration: none;
  }

  ul {
    padding: 0;
  }

  li {
    padding-left: 1em;
    font-size: 1rem;
  }

  .topdescrip {
    margin-left: 2em;
    margin-right: 2em;
  }

  h3 {
    font-size: .95rem;
  }

  .banner {
    margin-top: .5em;
  }

  .viewing {
    margin: 0;
  }

  p {
    font-size: .9rem;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .learn-more {
    font-size: .85em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .topdescrip {
    margin-left: 11em;
    margin-right: 11em;
  }

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: .85rem;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h3 {
    font-size: .85rem;
  }

  li {
    padding-left: 1em;
    font-size: 1rem;
  }

  .footer {
    font-size: .85rem;
  }

  main {
    margin-bottom: 0;
  }

}
